---
layout: default
title: Projects & Open-Source
tags: projects
permalink: /open-source/
js:
- js/util_buttons.js
---
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
{% for js in page.js %}
  <script type="text/javascript">
  {% include {{ js }} %}
  </script>
{% endfor %}

<!-- <link rel="stylesheet" href="https://github-profile.com/dist/gh-profile-card.min.css" />
<script type="text/javascript" src="https://github-profile.com/dist/gh-profile-card.min.js"></script> -->

<!-- Github Button -->
<div class="container">
  <div class="row">
      <div class="col-lg-12 text-center">
          <h2 class="section-heading">GitHub Activity</h2>
          <h3 class="section-subheading text-muted"><iframe src="https://ghbtns.com/github-btn.html?user=IAmSuyogJadhav&type=follow&count=true&size=large" frameborder="0" scrolling="0" width="285px" height="34px"></iframe></h3>
      </div>
  </div>
  <hr class="featurette-divider">

      <!-- <div class="featurette">
          <img class="featurette-image img-circle pull-right" src="./images/portfolio/system-design.png">
          <br/><br/><br/>
          <h2 class="featurette-heading"><a href="https://github.com/donnemartin/system-design-primer">system design primer</a><br/><span class="text-muted">Large scale system design</span></h2>
          <iframe src="https://ghbtns.com/github-btn.html?user=donnemartin&amp;repo=system-design-primer&amp;type=star&amp;count=true&amp;size=large" width="160px" height="30px" frameborder="0" scrolling="0"></iframe>
          <p class="lead"></p>
      </div>

      <hr class="featurette-divider"> -->
</div>
<center>
<div id="github-card"
     data-username="IAmSuyogJadhav"
     data-max-repos="30"
     data-sort-by="stars"
     data-header-text="Most starred Repositories">
</div>
</center>
<h2> Coming Soon.</h2>
