<!-- <link rel="stylesheet" href="css/demo.css">
<link rel="stylesheet" href="css/footer-distributed.css"> -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"> -->

<footer class="footer-distributed">
		<div class="footer-right">

				{% if site.github_username %}
		      <a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fa fa-github"></i></a>
		    {% endif %}
				{% if site.linkedin_username %}
					<a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank"><i class="fa fa-linkedin"></i></a>
				{% endif %}
		    {% if site.twitter_username %}
		      <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter"></i></a>
		    {% endif %}

			</div>

			<div class="footer-left">
				<p class="footer-links">
					<a href="{{site.url}}">Home</a>
					·
{% for page in site.pages %}
	{% if page.tags contains "about" %}
					<a href="{{page.url}}">{{page.title}}</a>
					.
	{% endif %}
	{% if page.tags contains "contact" %}
					<a href="{{page.url}}">{{page.title}}</a>
					.
	{% endif %}
	{% if page.tags contains "portfolio" %}
					<a href="{{page.url}}">{{page.title}}</a>
					.
	{% endif %}
	{% if page.tags contains "projects" %}
					<a href="{{page.url}}">{{page.title}}</a>
					.
	{% endif %}
	{% if page.tags contains "resume" %}
					<a href="{{page.url}}">{{page.title}}</a>
					.
	{% endif %}
{% endfor %}
	</p>
	<p>&copy; Suyog Jadhav</p>
	</div>
</footer>
