<div class="py2 post-footer">
  <img src="https://avatars1.githubusercontent.com/u/30121918" alt="Me!" class="avatar" />
  <p>
    Thanks for reading, and please leave some feedback if you have the time.
  </p>
  <p>
    <!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/{{ site.github_username }}" data-size="large" data-show-count="true" aria-label="Follow @{{ site.github_username }}">Follow @{{ site.github_username }}</a> on Github.
  </p>
</div>
